body {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fafbf9;
    text-align: center;
}

header {
    overflow: auto;
    border-bottom: 2px solid #cabcbb;
    padding-bottom: 14px;
}

.logo {
    width: 50%;
    float: left;
    margin: 12px;
}

.eos-button {
    width: 80%;
    padding: 4%;
}

#myBtn {
    float: right;
    font-size: 36px;
    margin: 12px;
    background-color: #fafbf9;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.item__container {
    border: 1px solid green;
}

.cart__container {
    border: 1px solid purple;
    display: none;
}

.checkout-page {
    border: 1px solid red;
    display: none;

}

.receipt-page {
    border: 1px solid blue;
    display: none;
}

.live__list {
    border: 1px solid red;
    display: none;
}

.laugh__list {
    border: 1px solid greenyellow;
    display: none;
}
.lounge__list {
    border: 1px solid magenta;
    display: none;
}

.liveSection {
    border: 1px solid red;
}

.laughSection {
    border: 1px solid greenyellow;
}

.loungeSection {
    border: 1px solid magenta;
}

.hidden {
    display: none;
}